/*clean slate*/
html, body, h1, h2, h3, a, ol, ul, li, div, audio, blockquote, img, video, iframe, header, footer, main, nav {
    margin: 0px;
	padding: 0px;
	border: 0px;
	font-size: 100%;
	vertical-align: baseline;
}

header, footer, menu, nav, section {
	display: block;
}

/*end clean slate*/

html {
	height: 100%;
	width: 100%;
	background-color: white;
}

body {
    
    background-color: white;
  	font-family: Trebuchet MS, Helvetica, sans-serif;
  	float: none;
  	text-align: center;
  	height: 100%;
  	width: 70%;
  	padding-right: 15%;
  	padding-left: 15%;

}

a {
	color:  #1d81df;
}

.contact {
	font-size: 100%;
}

h1, h2, h3, h4, h5 {
    color: #1d81df;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;

}

.spacedout {
	letter-spacing: 3px;
}

.special {
	font-style: italic;
	font-size: 120%;
}

div p {
	text-align: center;
}

.bioimg {
	float: left;
	padding-right: 5%;

}

.portimg {
	width: 50%;
}

.resume {
	width: 70%;
	padding-right: 15%;
  	padding-left: 15%;
  	text-align: left;
}

strong {
	color:  #1d81df;
}

p {
   text-align: left;
   margin-top: 0px;
   padding-left: 20%;
   padding-right: 20%;
   width: 60%;
   float: none;
}


.c {
	text-align: center;
	padding-bottom: 0px;
}

.removemargin {
	padding: 0px;
	margin: 0px;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    border-radius: 50px; /* Rounded corners */
}


nav {
	margin-right: 25%;
	margin-left: 25%;
	text-decoration: none;
	color: #1d81df;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    color: #1d81df;
}

nav li {
	float: left;
    display: block;
    color: #1d81df;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a {
	float: left;
    display: block;
    color: #1d81df;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
	color: grey;
}

nav ul li a:visited {
    color:  #1d81df;
}
