/*clean slate*/
html, body, h1, h2, h3, a, ol, ul, li, div, audio, blockquote, img, video, iframe, header, footer, main, nav {
    margin: 0px;
	padding: 0px;
	border: 0px;
	font-size: 100%;
	vertical-align: baseline;
}

header, footer, menu, nav, section {
	display: block;
}

/*end clean slate*/

html {
	height: 100%;
	width: 100%;
	background-color: white;
}

body {
    
    background-color: white;
  	font-family: Helvetica, Arial, Sans-Serif;
  	float: none;
  	text-align: center;
  	height: 100%;
  	width: 60%;
  	padding-right: 20%;
  	padding-left: 20%;

}

a {
	color:  #4d52be;
}

.contact {
	font-size: 100%;
}

h1, h2, h3, h4, h5 {
    color: #4d52be;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;

}

.spacedout {
	letter-spacing: 5px;
}

.special {
	font-style: italic;
	font-size: 120%;
}

div p {
	text-align: center;
}


div ul{
	margin-top: 0px;
	margin-bottom: 0px;
	/*font-size: 14px;*/
	text-align: left;
	padding-right: 20%;
	padding-left: 20%;
	width:60%;
}


.bioimg {
	float: right;
	padding-left: 5%;
	padding-bottom: 5%;
	margin-bottom: 0px;

}


strong {
	color:  #4d52be;
}

p {
   text-align: left;
   margin-top: 0px;
   padding-left: 20%;
   padding-right: 20%;
   width: 60%;
   float: none;
}

.firstP:first-letter { 
    font-size: 150%;
    color:  #4d52be;
}

.c {
	text-align: center;
	padding-bottom: 0px;
}

.removemargin {
	padding: 0px;
	margin: 0px;
}


nav {
	margin-bottom: 20px;
	float: none;
	text-decoration: none;
}
/*
nav ul {
    list-style-type: none;
}

nav ul li {
    height: 20px;
    padding: 10px;
    display: inline;
}


nav ul li a {
    color:  #4d52be;
    display: block;
    display: inline;
}


nav ul li a:hover {
	background-color: grey;
}

nav ul li a:visited {
    color:  #4d52be;
}
*/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4d52be;
}

nav li {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
	background-color: white;
	color: #4d52be;
}

nav ul li a:active {
	background-color: white;
	color: #4d52be;
}

nav ul li a:visited {
    color:  white;
}

 /* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
}

.column img {
    margin-top: 12px;
    width: 100%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
} 