/*clean slate*/
html, body, h1, h2, h3, a, ol, ul, li, div, audio, blockquote, img, video, iframe, header, footer, main, nav {
	border: 0px;
	font-size: 100%;
	vertical-align: baseline;
}


/*end clean slate*/


html {
	height: 100%;
	width: 100%;
	background-color: white;
	overflow-y: scroll;
}

body {
    
  	font-family: Helvetica, Arial, Sans-Serif;
  	height: 100%;
  	width: 100%;

}